In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Spark SQL Query DF").getOrCreate()

In [3]:
datapath = '/Users/Arne/Documents/Spark/Ex_Files_Spark_SQL_DataFrames/Exercise Files/Data/utlization.json'

In [4]:
df1 = spark.read.format("json").load(datapath)

In [5]:
df1.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [6]:
df1.count()

500000

In [7]:
df1.createOrReplaceTempView("utilization")

In [8]:
df_sql = spark.sql("SELECT * FROM utilization LIMIT 10")

In [9]:
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+

In [10]:
df_sql2 = spark.sql("SELECT server_id, session_count FROM utilization LIMIT 10")

In [11]:
df_sql2.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           47|
|      100|           43|
|      100|           62|
|      100|           50|
|      100|           43|
|      100|           48|
|      100|           58|
|      100|           58|
|      100|           62|
|      100|           45|
+---------+-------------+

In [12]:
df_sql3 = spark.sql("SELECT server_id AS sid, session_count AS s_count FROM utilization LIMIT 10")

In [13]:
df_sql3.show()

+---+-------+
|sid|s_count|
+---+-------+
|100|     47|
|100|     43|
|100|     62|
|100|     50|
|100|     43|
|100|     48|
|100|     58|
|100|     58|
|100|     62|
|100|     45|
+---+-------+

## Where

In [14]:
df_sql4 = spark.sql("SELECT * FROM utilization WHERE server_id = 120")
df_sql4.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.66|03/05/2019 08:06:48|       0.31|      120|           54|
|           0.58|03/05/2019 08:11:48|       0.38|      120|           64|
|           0.55|03/05/2019 08:16:48|       0.61|      120|           54|
|            0.7|03/05/2019 08:21:48|       0.35|      120|           80|
|            0.6|03/05/2019 08:26:48|       0.39|      120|           71|
|           0.53|03/05/2019 08:31:48|       0.35|      120|           49|
|           0.73|03/05/2019 08:36:48|       0.42|      120|           73|
|           0.41|03/05/2019 08:41:48|        0.6|      120|           72|
|           0.62|03/05/2019 08:46:48|       0.57|      120|           57|
|           0.67|03/05/2019 08:51:48|       0.44|      120|           78|
|           0.67|03/05/2019 08:56:48|       0.38|      120|           73|
|           0.39|03/05/2019 09:01:48|       0.47|      120|           58|
|            0.5|03/05/2019 09:06:48|       0.29|      120|           78|
|           0.38|03/05/2019 09:11:48|       0.38|      120|           56|
|           0.53|03/05/2019 09:16:48|       0.38|      120|           47|
|           0.74|03/05/2019 09:21:48|       0.25|      120|           69|
|           0.53|03/05/2019 09:26:48|       0.57|      120|           73|
|           0.54|03/05/2019 09:31:48|       0.64|      120|           65|
|            0.7|03/05/2019 09:36:48|       0.52|      120|           55|
|           0.54|03/05/2019 09:41:48|       0.27|      120|           74|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [15]:
df_sql4.count()

10000

In [16]:
df_sql5 = spark.sql("SELECT * FROM utilization WHERE session_count > 75")
df_sql5.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.86|03/05/2019 08:06:16|       0.09|      101|           93|
|           0.71|03/05/2019 08:11:16|       0.18|      101|           98|
|           0.77|03/05/2019 08:16:16|       0.33|      101|          100|
|           0.88|03/05/2019 08:21:16|       0.39|      101|           83|
|           0.88|03/05/2019 08:31:16|       0.24|      101|           77|
|           0.65|03/05/2019 08:36:16|       0.14|      101|           90|
|           0.76|03/05/2019 08:41:16|       0.22|      101|           85|
|           0.76|03/05/2019 08:46:16|       0.32|      101|           95|
|           0.75|03/05/2019 08:51:16|       0.37|      101|           88|
|           0.68|03/05/2019 08:56:16|       0.06|      101|           89|
|           0.61|03/05/2019 09:01:16|       0.19|      101|           85|
|           0.72|03/05/2019 09:06:16|       0.31|      101|           88|
|           0.78|03/05/2019 09:11:16|       0.25|      101|           86|
|           0.99|03/05/2019 09:16:16|        0.3|      101|           98|
|           0.88|03/05/2019 09:21:16|       0.28|      101|          100|
|           0.73|03/05/2019 09:26:16|       0.23|      101|           76|
|           0.71|03/05/2019 09:36:16|       0.27|      101|           83|
|           0.96|03/05/2019 09:46:16|       0.05|      101|          100|
|            0.8|03/05/2019 09:51:16|       0.34|      101|           90|
|            0.8|03/05/2019 10:01:16|       0.02|      101|           91|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [17]:
df_sql5.count()

177007

In [18]:
df_sql6 = spark.sql("SELECT * FROM utilization WHERE session_count > 75 AND server_id = 120")
df_sql6.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|            0.7|03/05/2019 08:21:48|       0.35|      120|           80|
|           0.67|03/05/2019 08:51:48|       0.44|      120|           78|
|            0.5|03/05/2019 09:06:48|       0.29|      120|           78|
|           0.63|03/05/2019 10:06:48|       0.47|      120|           78|
|           0.37|03/05/2019 11:41:48|       0.38|      120|           79|
|            0.4|03/05/2019 12:01:48|       0.52|      120|           77|
|           0.69|03/05/2019 13:36:48|       0.58|      120|           79|
|           0.73|03/05/2019 15:26:48|       0.55|      120|           77|
|           0.42|03/05/2019 17:56:48|       0.26|      120|           76|
|           0.71|03/05/2019 18:06:48|       0.53|      120|           76|
|            0.6|03/05/2019 18:36:48|       0.49|      120|           79|
|           0.54|03/05/2019 19:01:48|       0.55|      120|           80|
|           0.58|03/05/2019 19:16:48|       0.56|      120|           80|
|           0.64|03/05/2019 19:21:48|       0.29|      120|           79|
|           0.74|03/05/2019 19:26:48|       0.55|      120|           80|
|            0.4|03/05/2019 21:06:48|       0.33|      120|           78|
|           0.59|03/05/2019 22:26:48|       0.57|      120|           80|
|           0.45|03/05/2019 22:46:48|       0.28|      120|           79|
|           0.72|03/05/2019 23:26:48|       0.64|      120|           80|
|           0.56|03/06/2019 00:51:48|       0.55|      120|           78|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [19]:
df_sql6.count()

1310

In [20]:
df_sql6 = spark.sql("SELECT * \
                    FROM utilization \
                    where session_count > 75 AND server_id = 120 \
                    ORDER BY session_count desc")
df_sql6.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|            0.7|03/05/2019 08:21:48|       0.35|      120|           80|
|           0.54|03/05/2019 19:01:48|       0.55|      120|           80|
|           0.58|03/05/2019 19:16:48|       0.56|      120|           80|
|           0.74|03/05/2019 19:26:48|       0.55|      120|           80|
|           0.59|03/05/2019 22:26:48|       0.57|      120|           80|
|           0.72|03/05/2019 23:26:48|       0.64|      120|           80|
|           0.46|03/06/2019 04:21:48|       0.55|      120|           80|
|            0.6|03/06/2019 08:26:48|       0.39|      120|           80|
|           0.65|03/06/2019 08:51:48|       0.31|      120|           80|
|           0.44|03/06/2019 10:01:48|       0.41|      120|           80|
|           0.65|03/06/2019 10:56:48|       0.45|      120|           80|
|           0.61|03/06/2019 11:31:48|       0.25|      120|           80|
|           0.73|03/06/2019 16:56:48|       0.36|      120|           80|
|           0.53|03/06/2019 19:21:48|       0.55|      120|           80|
|           0.71|03/06/2019 23:56:48|       0.63|      120|           80|
|           0.66|03/07/2019 00:51:48|        0.6|      120|           80|
|           0.64|03/07/2019 01:21:48|       0.32|      120|           80|
|            0.4|03/07/2019 07:51:48|        0.4|      120|           80|
|            0.6|03/07/2019 09:41:48|       0.36|      120|           80|
|            0.5|03/07/2019 10:16:48|       0.31|      120|           80|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

## Aggregates

In [21]:
df_sql7 = spark.sql("select count(distinct server_id) from utilization")
df_sql7.show()

+-------------------------+
|count(DISTINCT server_id)|
+-------------------------+
|                       50|
+-------------------------+

In [22]:
df_sql8 = spark.sql("select server_id, count(*) as num \
                    from utilization \
                    where session_count <60 \
                    group by server_id \
                    order by num")
df_sql8.show()

+---------+----+
|server_id| num|
+---------+----+
|      126| 450|
|      144| 598|
|      140| 716|
|      127| 857|
|      107|1255|
|      115|1582|
|      122|1921|
|      131|2323|
|      136|2636|
|      128|3170|
|      117|3216|
|      129|3627|
|      109|3724|
|      141|3736|
|      111|3827|
|      130|3968|
|      125|4034|
|      120|4057|
|      110|4061|
|      114|4707|
+---------+----+
only showing top 20 rows

In [23]:
df_sql9 = spark.sql("select server_id, round(avg(session_count), 2), min(session_count), max(session_count) \
                    from utilization \
                    where session_count <60 \
                    group by server_id \
                    order by server_id")
df_sql9.show()

+---------+----------------------------+------------------+------------------+
|server_id|round(avg(session_count), 2)|min(session_count)|max(session_count)|
+---------+----------------------------+------------------+------------------+
|      100|                       48.05|                37|                59|
|      105|                       49.41|                39|                59|
|      106|                       45.93|                32|                59|
|      107|                       57.33|                55|                59|
|      109|                       52.98|                46|                59|
|      110|                       52.46|                45|                59|
|      111|                       52.81|                46|                59|
|      114|                       51.28|                43|                59|
|      115|                       56.81|                54|                59|
|      116|                        49.6|                40|                59|
|      117|                       53.91|                48|                59|
|      119|                       45.72|                32|                59|
|      120|                       52.49|                45|                59|
|      122|                       56.14|                53|                59|
|      124|                       46.86|                34|                59|
|      125|                       52.29|                45|                59|
|      126|                       58.63|                58|                59|
|      127|                       57.98|                57|                59|
|      128|                       53.91|                48|                59|
|      129|                       53.26|                47|                59|
+---------+----------------------------+------------------+------------------+
only showing top 20 rows

## Creating new rows

In [33]:
from pyspark.sql import Row
spark = SparkSession.builder.getOrCreate()

In [34]:
sc = spark.sparkContext

In [36]:
df_dup = sc.parallelize([Row(server_name ='101 Server', cpu_utilization = 85, session_count = 80), \
                        Row(server_name ='101 Server', cpu_utilization = 80, session_count = 90), \
                        Row(server_name ='102 Server', cpu_utilization = 85, session_count = 80), \
                        Row(server_name ='102 Server', cpu_utilization = 85, session_count = 80)]).toDF()

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.runJob.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 41.0 failed 1 times, most recent failure: Lost task 0.0 in stage 41.0 (TID 119) (LAPTOP-MD7DME0A executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:188)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:108)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:121)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:162)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1462)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	at java.lang.Thread.run(Unknown Source)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(Unknown Source)
	at java.net.AbstractPlainSocketImpl.accept(Unknown Source)
	at java.net.PlainSocketImpl.accept(Unknown Source)
	at java.net.ServerSocket.implAccept(Unknown Source)
	at java.net.ServerSocket.accept(Unknown Source)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:175)
	... 14 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2454)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2403)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2402)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2402)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1160)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1160)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1160)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2642)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2584)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2573)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:938)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2214)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2235)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2254)
	at org.apache.spark.api.python.PythonRDD$.runJob(PythonRDD.scala:166)
	at org.apache.spark.api.python.PythonRDD.runJob(PythonRDD.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Unknown Source)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:188)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:108)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:121)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:162)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1462)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(Unknown Source)
	at java.net.AbstractPlainSocketImpl.accept(Unknown Source)
	at java.net.PlainSocketImpl.accept(Unknown Source)
	at java.net.ServerSocket.implAccept(Unknown Source)
	at java.net.ServerSocket.accept(Unknown Source)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:175)
	... 14 more