In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Spark SQL Query DF").getOrCreate()

In [7]:
datapath = '/Users/Arne/Documents/Spark/Ex_Files_Spark_SQL_DataFrames/Exercise Files/Data/utlization.json'

In [8]:
df1 = spark.read.format("json").load(datapath)

In [10]:
df1.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [12]:
df1.count()

500000

In [14]:
df1.createOrReplaceTempView("utilization")

In [15]:
df_sql = spark.sql("SELECT * FROM utilization LIMIT 10")

In [16]:
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+

In [17]:
df_sql2 = spark.sql("SELECT server_id, session_count FROM utilization LIMIT 10")

In [18]:
df_sql2.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           47|
|      100|           43|
|      100|           62|
|      100|           50|
|      100|           43|
|      100|           48|
|      100|           58|
|      100|           58|
|      100|           62|
|      100|           45|
+---------+-------------+

In [19]:
df_sql3 = spark.sql("SELECT server_id AS sid, session_count AS s_count FROM utilization LIMIT 10")

In [20]:
df_sql3.show()

+---+-------+
|sid|s_count|
+---+-------+
|100|     47|
|100|     43|
|100|     62|
|100|     50|
|100|     43|
|100|     48|
|100|     58|
|100|     58|
|100|     62|
|100|     45|
+---+-------+

## Where

In [21]:
df_sql4 = spark.sql("SELECT * FROM utilization WHERE server_id = 120")
df_sql4.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.66|03/05/2019 08:06:48|       0.31|      120|           54|
|           0.58|03/05/2019 08:11:48|       0.38|      120|           64|
|           0.55|03/05/2019 08:16:48|       0.61|      120|           54|
|            0.7|03/05/2019 08:21:48|       0.35|      120|           80|
|            0.6|03/05/2019 08:26:48|       0.39|      120|           71|
|           0.53|03/05/2019 08:31:48|       0.35|      120|           49|
|           0.73|03/05/2019 08:36:48|       0.42|      120|           73|
|           0.41|03/05/2019 08:41:48|        0.6|      120|           72|
|           0.62|03/05/2019 08:46:48|       0.57|      120|           57|
|           0.67|03/05/2019 08:51:48|       0.44|      120|           78|
|           0.67|03/05/2019 08:56:48|       0.38|      120|           73|
|           0.39|03/05/2019 09:01:48|       0.47|      120|           58|
|            0.5|03/05/2019 09:06:48|       0.29|      120|           78|
|           0.38|03/05/2019 09:11:48|       0.38|      120|           56|
|           0.53|03/05/2019 09:16:48|       0.38|      120|           47|
|           0.74|03/05/2019 09:21:48|       0.25|      120|           69|
|           0.53|03/05/2019 09:26:48|       0.57|      120|           73|
|           0.54|03/05/2019 09:31:48|       0.64|      120|           65|
|            0.7|03/05/2019 09:36:48|       0.52|      120|           55|
|           0.54|03/05/2019 09:41:48|       0.27|      120|           74|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [22]:
df_sql4.count()

10000

In [23]:
df_sql5 = spark.sql("SELECT * FROM utilization WHERE session_count > 75")
df_sql5.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.86|03/05/2019 08:06:16|       0.09|      101|           93|
|           0.71|03/05/2019 08:11:16|       0.18|      101|           98|
|           0.77|03/05/2019 08:16:16|       0.33|      101|          100|
|           0.88|03/05/2019 08:21:16|       0.39|      101|           83|
|           0.88|03/05/2019 08:31:16|       0.24|      101|           77|
|           0.65|03/05/2019 08:36:16|       0.14|      101|           90|
|           0.76|03/05/2019 08:41:16|       0.22|      101|           85|
|           0.76|03/05/2019 08:46:16|       0.32|      101|           95|
|           0.75|03/05/2019 08:51:16|       0.37|      101|           88|
|           0.68|03/05/2019 08:56:16|       0.06|      101|           89|
|           0.61|03/05/2019 09:01:16|       0.19|      101|           85|
|           0.72|03/05/2019 09:06:16|       0.31|      101|           88|
|           0.78|03/05/2019 09:11:16|       0.25|      101|           86|
|           0.99|03/05/2019 09:16:16|        0.3|      101|           98|
|           0.88|03/05/2019 09:21:16|       0.28|      101|          100|
|           0.73|03/05/2019 09:26:16|       0.23|      101|           76|
|           0.71|03/05/2019 09:36:16|       0.27|      101|           83|
|           0.96|03/05/2019 09:46:16|       0.05|      101|          100|
|            0.8|03/05/2019 09:51:16|       0.34|      101|           90|
|            0.8|03/05/2019 10:01:16|       0.02|      101|           91|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [24]:
df_sql5.count()

177007

In [26]:
df_sql6 = spark.sql("SELECT * FROM utilization WHERE session_count > 75 AND server_id = 120")
df_sql6.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|            0.7|03/05/2019 08:21:48|       0.35|      120|           80|
|           0.67|03/05/2019 08:51:48|       0.44|      120|           78|
|            0.5|03/05/2019 09:06:48|       0.29|      120|           78|
|           0.63|03/05/2019 10:06:48|       0.47|      120|           78|
|           0.37|03/05/2019 11:41:48|       0.38|      120|           79|
|            0.4|03/05/2019 12:01:48|       0.52|      120|           77|
|           0.69|03/05/2019 13:36:48|       0.58|      120|           79|
|           0.73|03/05/2019 15:26:48|       0.55|      120|           77|
|           0.42|03/05/2019 17:56:48|       0.26|      120|           76|
|           0.71|03/05/2019 18:06:48|       0.53|      120|           76|
|            0.6|03/05/2019 18:36:48|       0.49|      120|           79|
|           0.54|03/05/2019 19:01:48|       0.55|      120|           80|
|           0.58|03/05/2019 19:16:48|       0.56|      120|           80|
|           0.64|03/05/2019 19:21:48|       0.29|      120|           79|
|           0.74|03/05/2019 19:26:48|       0.55|      120|           80|
|            0.4|03/05/2019 21:06:48|       0.33|      120|           78|
|           0.59|03/05/2019 22:26:48|       0.57|      120|           80|
|           0.45|03/05/2019 22:46:48|       0.28|      120|           79|
|           0.72|03/05/2019 23:26:48|       0.64|      120|           80|
|           0.56|03/06/2019 00:51:48|       0.55|      120|           78|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [28]:
df_sql6.count()

1310

In [30]:
df_sql6 = spark.sql("SELECT * \
                    FROM utilization \
                    where session_count > 75 AND server_id = 120 \
                    ORDER BY session_count desc")
df_sql6.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|            0.7|03/05/2019 08:21:48|       0.35|      120|           80|
|           0.54|03/05/2019 19:01:48|       0.55|      120|           80|
|           0.58|03/05/2019 19:16:48|       0.56|      120|           80|
|           0.74|03/05/2019 19:26:48|       0.55|      120|           80|
|           0.59|03/05/2019 22:26:48|       0.57|      120|           80|
|           0.72|03/05/2019 23:26:48|       0.64|      120|           80|
|           0.46|03/06/2019 04:21:48|       0.55|      120|           80|
|            0.6|03/06/2019 08:26:48|       0.39|      120|           80|
|           0.65|03/06/2019 08:51:48|       0.31|      120|           80|
|           0.44|03/06/2019 10:01:48|       0.41|      120|           80|
|           0.65|03/06/2019 10:56:48|       0.45|      120|           80|
|           0.61|03/06/2019 11:31:48|       0.25|      120|           80|
|           0.73|03/06/2019 16:56:48|       0.36|      120|           80|
|           0.53|03/06/2019 19:21:48|       0.55|      120|           80|
|           0.71|03/06/2019 23:56:48|       0.63|      120|           80|
|           0.66|03/07/2019 00:51:48|        0.6|      120|           80|
|           0.64|03/07/2019 01:21:48|       0.32|      120|           80|
|            0.4|03/07/2019 07:51:48|        0.4|      120|           80|
|            0.6|03/07/2019 09:41:48|       0.36|      120|           80|
|            0.5|03/07/2019 10:16:48|       0.31|      120|           80|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

## Aggregates

In [31]:
df_sql7 = spark.sql("select count(distinct server_id) from utilization")
df_sql7.show()

+-------------------------+
|count(DISTINCT server_id)|
+-------------------------+
|                       50|
+-------------------------+

In [36]:
df_sql8 = spark.sql("select server_id, count(*) as num \
                    from utilization \
                    where session_count <60 \
                    group by server_id \
                    order by num")
df_sql8.show()

+---------+----+
|server_id| num|
+---------+----+
|      126| 450|
|      144| 598|
|      140| 716|
|      127| 857|
|      107|1255|
|      115|1582|
|      122|1921|
|      131|2323|
|      136|2636|
|      128|3170|
|      117|3216|
|      129|3627|
|      109|3724|
|      141|3736|
|      111|3827|
|      130|3968|
|      125|4034|
|      120|4057|
|      110|4061|
|      114|4707|
+---------+----+
only showing top 20 rows

In [39]:
df_sql9 = spark.sql("select server_id, round(avg(session_count), 2), min(session_count), max(session_count) \
                    from utilization \
                    where session_count <60 \
                    group by server_id \
                    order by server_id")
df_sql9.show()

+---------+----------------------------+------------------+------------------+
|server_id|round(avg(session_count), 2)|min(session_count)|max(session_count)|
+---------+----------------------------+------------------+------------------+
|      100|                       48.05|                37|                59|
|      105|                       49.41|                39|                59|
|      106|                       45.93|                32|                59|
|      107|                       57.33|                55|                59|
|      109|                       52.98|                46|                59|
|      110|                       52.46|                45|                59|
|      111|                       52.81|                46|                59|
|      114|                       51.28|                43|                59|
|      115|                       56.81|                54|                59|
|      116|                        49.6|                40|                59|
|      117|                       53.91|                48|                59|
|      119|                       45.72|                32|                59|
|      120|                       52.49|                45|                59|
|      122|                       56.14|                53|                59|
|      124|                       46.86|                34|                59|
|      125|                       52.29|                45|                59|
|      126|                       58.63|                58|                59|
|      127|                       57.98|                57|                59|
|      128|                       53.91|                48|                59|
|      129|                       53.26|                47|                59|
+---------+----------------------------+------------------+------------------+
only showing top 20 rows