# Booleans

In [2]:
a = 1
b = 0
x = []
x2 = [1]
y = ()
z = {}

items = [a, b, x, x2, y, z]

for i in items:
    print(bool(i))

True
False
False
True
False
False

# Template strings

In [3]:
from string import Template

In [4]:
templ = Template("You're watching ${title} by ${author}")

In [6]:
str2 = templ.substitute(title="Advanced Python", author= "Joe Marini")

In [8]:
print(str2)

You're watching Advanced Python by Joe Marini

In [10]:
data = {
    "author" : "Joe Marini",
    "title" : "Advanced Python"
}

In [11]:
str3 = templ.substitute(data)
print(str3)

You're watching Advanced Python by Joe Marini

In [ ]:
class Book():
    
    def __init__(self):
        pass
    
    
    def freestyle(self):

# Utilities

In [13]:
list1 = [1, 2, 3, 0, 5, 6]

In [14]:
# check to see if anything in the list returns True
print(any(list1))

True

In [15]:
# check to see if all items in the list return True
print(all(list1))

False

In [16]:
min(list1)

0

In [17]:
max(list1)

6

In [18]:
sum(list1)

17

# Iterators

In [29]:
def main():
    days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
    daysFr = ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"]
    
    i = iter(days)
    print(next(i))
    print(next(i))
    print(next(i))

In [22]:
main()

Sun
Mon
Tue

In [30]:
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]

for m in range(len(days)):
    print(m + 1, days[m])

1 Sun
2 Mon
3 Tue
4 Wed
5 Thu
6 Fri
7 Sat

## Enumerate

In [31]:
for i, m in enumerate(days, start = 1):
    print(i, m)

1 Sun
2 Mon
3 Tue
4 Wed
5 Thu
6 Fri
7 Sat

## Zip

In [32]:
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
daysFr = ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"]

In [33]:
for m in zip(days, daysFr):
    print(m)

('Sun', 'Dim')
('Mon', 'Lun')
('Tue', 'Mar')
('Wed', 'Mer')
('Thu', 'Jeu')
('Fri', 'Ven')
('Sat', 'Sam')

In [39]:
# NOTE: the zip function ends when the shortest list ends
for i, m in enumerate(zip(days, daysFr), start = 1):
    print(i, m[0], "=", m[1])

1 Sun = Dim
2 Mon = Lun
3 Tue = Mar
4 Wed = Mer
5 Thu = Jeu
6 Fri = Ven
7 Sat = Sam

# Tranforms
## Filter function

In [40]:
nums = (1, 8, 4, 5, 13, 26, 743, 34, 67)
chars = "asGjnerKFldFKOMNmndw"

In [43]:
# filters out even numbers
def filterFunc(x):
    if x % 2 == 0:
        return False
    return True

In [47]:
# filters out uppercase characters
def filterFunc2(x):
    if x.isupper():
        return False
    return True

In [45]:
# filters out even numbers
odds = list(filter(filterFunc, nums))
print(odds)

[1, 5, 13, 743, 67]

In [48]:
# filters out uppercase characters
lowers = list(filter(filterFunc2, chars))
print(lowers)

['a', 's', 'j', 'n', 'e', 'r', 'l', 'd', 'm', 'n', 'd', 'w']

## Map function

In [49]:
def squareFunc(x):
    return x**2

In [50]:
squares = list(map(squareFunc, nums))
print(squares)

[1, 64, 16, 25, 169, 676, 552049, 1156, 4489]

In [80]:
grades_b = [67, 88, 69, 87, 94, 98, 55, 78]
grades = sorted(grades_b)
print(grades)

[55, 67, 69, 78, 87, 88, 94, 98]

In [63]:
def toGrade(x):
    if (x >= 90):
        return "A"
    elif (x >= 80 and x < 90):
        return "B"
    elif (x >= 70 and x < 80):
        return "C"
    elif (x >= 60 and x < 70):
        return "D"
    return "F"

In [67]:
letters = list(map(toGrade, grades))
print(letters)

['F', 'D', 'D', 'C', 'B', 'B', 'A', 'A']

# Itertools

In [68]:
import itertools

In [69]:
seq1 = ["Joe", "Bob", "Tim"]

In [70]:
# use "cycle" to cycle through list indefinitely
cycle1 = itertools.cycle(seq1)
print(next(cycle1))
print(next(cycle1))
print(next(cycle1))
print(next(cycle1))

Joe
Bob
Tim
Joe

In [72]:
# Counter
count1 = itertools.count(100, 10)
print(next(count1))
print(next(count1))
print(next(count1))
print(next(count1))

100
110
120
130

In [78]:
# Accumulator
acc = itertools.accumulate(grades)

In [ ]:
print(next(accumulate1))
print(next(accumulate1))
print(next(accumulate1))
print(next(accumulate1))
print(next(accumulate1))

In [77]:
# running list
print(list(acc))

[55, 122, 191, 269, 356, 444, 538, 636]

In [82]:
# shows the max number until a higher number is reached
maxlist = itertools.accumulate(grades_b, max)
print(list(maxlist))

[67, 88, 88, 88, 94, 98, 98, 98]

## Chain

In [84]:
x = itertools.chain("ABCD", "1234")
print(list(x))

['A', 'B', 'C', 'D', '1', '2', '3', '4']

## Dropwhile and Takewhile

In [99]:
print(grades)

[55, 67, 69, 78, 87, 88, 94, 98]

In [100]:
def testFunction(x):
    if x < 75:
        return True
    return False

In [102]:
'''DROPS VALUES FROM THE LIST UNTIL FALSE IS RETURNED ONCE, 
ALL SUBSEQUENT VALUES ARE KEPT'''
good_grades = itertools.dropwhile(testFunction, grades)
print(list(good_grades))

[78, 87, 88, 94, 98]

In [103]:
'''KEEPS VALUES FROM THE LIST UNTIL FALSE IS RETURNED ONCE, 
ALL SUBSEQUENT VALUES ARE DELETED'''
bad_grades = itertools.takewhile(testFunction, grades)
print(list(bad_grades))

[55, 67, 69]

## Function Documentation Strings

In [105]:
# get documentation for a function with "__doc__"
print(map.__doc__)

map(func, *iterables) --> map object

Make an iterator that computes the function using arguments from
each of the iterables.  Stops when the shortest iterable is exhausted.

In [108]:
def myFunction(arg1, arg2=None):
    '''myFunction(arg1, arg2=None) ---> prints arguments
    
    Parameters: whatever you feel like passing
    arg1 = any value you want
    arg2 = second argument. Defaults to none'''
    
    print(arg1, arg2)

### Notes for documentation
* List all parameters, one per line
* List returned values. If there are none, no need to explicitly say so
* Always use trip quotes
* First line should always be about function's purpose

In [109]:
print(myFunction.__doc__)

myFunction(arg1, arg2=None) ---> prints arguments

    Parameters: whatever you feel like passing
    arg1 = any value you want
    arg2 = second argument. Defaults to none

# Variable Arguments List

In [110]:
def addition(*args):
    result = 0
    for arg in args:
        result += arg
    return result

In [111]:
print(addition(4, 6, 7, 2, 8, 43))

70

In [112]:
myNums = [4, 6, 7, 2, 8, 43]

In [114]:
print(addition(*myNums))

70

Note: can be problematic if you have multiple positional arguments, easy to make a mistake if not paying attention

In [115]:
def addition2(base, *args):
    result = 0
    for arg in args:
        result += arg
    return result

In [116]:
print(addition2(*myNums))

66

In [117]:
print(addition2("steve", *myNums))

70

# Lambda Functions

### Syntax
lambda (paramaters) : (expression)

In [1]:
ctemps = [0, 12, 34, 100]
ftemps = [32, 65, 100, 212]

In [2]:
# convert celsius to fahrenheit
x = map((lambda x : (x * 9/5) + 32), ctemps)

In [3]:
print(list(x))

[32.0, 53.6, 93.2, 212.0]

# Advanced Collections
## namedtuple

In [4]:
import collections

In [24]:
def main():
    point = collections.namedtuple("Point", "x y j")
    p1 = point(10, 20, "sdfs")
    p2 = point(39, 53, "hello")
    print(p1, p2)
    print(p1.x, p2.j)

In [25]:
main()

Point(x=10, y=20, j='sdfs') Point(x=39, y=53, j='hello')
10 hello

In [29]:
def main2():
    point = collections.namedtuple("Point", "x y j")
    p1 = point(10, 20, "sdfs")
    print(p1)
    
    p1 = p1._replace(x = 100)
    print(p1)

In [30]:
main2()

Point(x=10, y=20, j='sdfs')
Point(x=100, y=20, j='sdfs')

## defaultdict

In [63]:
fruits = ["apple", "pear", "kiwi", "orange", "kiwi", "lemon", "apple", "peach", "apple", "grape"]

In [64]:
fruitCounter = {}

In [65]:
for fruit in fruits:
    if fruit in fruitCounter.keys():
        fruitCounter[fruit] += 1
    else:
        fruitCounter[fruit] = 1

print(fruitCounter)

{'apple': 3, 'pear': 1, 'kiwi': 2, 'orange': 1, 'lemon': 1, 'peach': 1, 'grape': 1}

In [66]:
from collections import defaultdict

In [67]:
fruits2 = ["apple", "pear", "kiwi", "orange", "kiwi", "lemon", "apple", "peach", "apple, ""grape"]

In [68]:
# this initiates the default value in the dict to 0
fruitCounter2 = defaultdict(int)

In [69]:
for fruit in fruits:
    fruitCounter2[fruit] += 1

print(fruitCounter2)

defaultdict(<class 'int'>, {'apple': 3, 'pear': 1, 'kiwi': 2, 'orange': 1, 'lemon': 1, 'peach': 1, 'grape': 1})

In [70]:
# can change the default value via lambda function
fruitCounter3 = defaultdict(lambda: 100)

In [71]:
for fruit in fruits:
    fruitCounter3[fruit] += 1

print(fruitCounter3)

defaultdict(<function <lambda> at 0x0000026F561DC700>, {'apple': 103, 'pear': 101, 'kiwi': 102, 'orange': 101, 'lemon': 101, 'peach': 101, 'grape': 101})

# counters

In [72]:
from collections import Counter

In [73]:
c1 = Counter(fruits)

In [74]:
print(c1)

Counter({'apple': 3, 'kiwi': 2, 'pear': 1, 'orange': 1, 'lemon': 1, 'peach': 1, 'grape': 1})

In [75]:
print(c1["apple"])

3

In [77]:
print(sum(c1.values()))

10

#### most_common

In [79]:
print(c1.most_common(3))

[('apple', 3), ('kiwi', 2), ('pear', 1)]

In [83]:
fruit_new = ["watermelon", "squash", "pear", "apple", "apple"]

In [84]:
c3 = Counter(fruit_new)
print(c3)

Counter({'apple': 2, 'watermelon': 1, 'squash': 1, 'pear': 1})

In [85]:
# shows which items are present in both counters, the value afterwards indicates how many times they BOTH have them in common

Counter({'apple': 2, 'pear': 1})

# Deque
double-ended queue, pronounced "deck"

In [95]:
d = collections.deque('abcdefg')

In [96]:
print(d)

deque(['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [97]:
d.appendleft(4)
d.append("hello")
print(d)

deque([4, 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'hello'])

In [98]:
d.popleft()
print(d)

deque(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'hello'])

In [99]:
d.rotate(-1)
print(d)

deque(['b', 'c', 'd', 'e', 'f', 'g', 'hello', 'a'])

In [100]:
d.rotate(3)
print(d)

deque(['g', 'hello', 'a', 'b', 'c', 'd', 'e', 'f'])

In [103]:
import string

In [110]:
alphabet = collections.deque(string.ascii_lowercase)

In [111]:
print(len(alphabet))

26

## OrderedDicts

In [1]:
from collections import OrderedDict

In [10]:
stuff = [("mellow", "yellow"), ("yellow", "submarine"), 
         ("blue", "moon"), ("lady in", "red")]

In [11]:
ord_dict = OrderedDict(stuff)

In [12]:
print(ord_dict)

OrderedDict([('mellow', 'yellow'), ('yellow', 'submarine'), ('blue', 'moon'), ('lady in', 'red')])

In [13]:
ord_dict.popitem(False)

('mellow', 'yellow')

In [14]:
print(ord_dict)

OrderedDict([('yellow', 'submarine'), ('blue', 'moon'), ('lady in', 'red')])

# String constants

In [107]:
print(string.ascii_letters)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

In [105]:
print(string.ascii_lowercase)

abcdefghijklmnopqrstuvwxyz

In [108]:
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~